* {
    margin: 0;
    font-family: sans-serif;
}

@keyframes bounce {
    0% {
        transform:translateY(-100%);
        opacity: 0;
    }
     5% {
        transform:translateY(-100%);
        opacity: 0;
    }
    15% {
    transform:translateY(0);
    padding-bottom: 5px;
    }
    30% {
    transform:translateY(-50%);
    }
      40% {
        transform:translateY(0%);
        padding-bottom: 6px;
    }
    50% {
        transform:translateY(-30%);
    }
    70% {
        transform:translateY(0%);
        padding-bottom: 7px;
    }
    80% {
      transform:translateY(-15%);
    }
    90% {
      transform:translateY(0%);
      padding-bottom: 8px;
    }
    95% {
      transform:translateY(-7%);
    }
    97% {
      transform:translateY(0%);
      padding-bottom: 9px;
    }
    99% {
      transform:translateY(-3%);
    }
    100% {
      transform:translateY(0);
      padding-bottom: 9px;
      opacity: 1;
    }
}

.header {
    .navbar-custom {
        background-color: blue;
        button:hover {
            background-color: rgb(33, 204, 226);
        }
        input:focus {
            background-color: rgb(33, 204, 226);
        }
    }
    .navbar-customm {
        background-color: rgb(33, 204, 226);
        li:hover {
            background-color: rgb(33, 36, 226);
        }
        .nav-item {
            font-size: 18px;
        }
        .nav-link:hover{
            animation-name: bounce;
            animation-duration: 0.5s;

        }
    }
    .precios {
        background-color: aqua;
        text-align: center;
        font-size: 60px;
        position: relative;
        top: 0px;
        padding-top: 160px;
        padding-bottom: 210px;
        margin: 0;
    }
}

@mixin grid12columnas {
    display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 2rem;
        width: 100%;
        padding: 2rem;
        align-items: center;
        text-align: center;
}

.ofertas {
        @include grid12columnas;
        .ofertas__articulo {
            grid-column-end: span 4;
            border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.08) 0 0 2rem;
            padding: 2rem;
        }
    
    
}

.comentarios {
    background-color: rgb(173, 165, 165);
    @include grid12columnas;
    margin-bottom: 100px;
    .cliente {
        grid-column-end: span 3;
    }
}


.footer {
    background-color: #767676;
    .footer__info {
        @include grid12columnas;
        .footer__info__locales {
            text-align: start;
            grid-column-end: span 3;
        }
        .footer__info__tarjetas {
            grid-column-end: span 2;
            
        }
        .footer__info__redes {
            grid-column-end: span 2;
            img {
                border-radius: 50px;
            }
        }
        .footer__info__codigos {
            grid-column: 9/13;
            grid-column-end: span 3;
            text-align: start;
        }

    }
    .tech {
        font-size: 60px;
    }
    button {
        background-color: red;
        border-radius: 20px;
        border: black;
    }
}

@media (max-width: 560px) {
    .ofertas {
        grid-gap: 2rem 0;
        .ofertas__articulo {
            grid-column-end: span 12;
        }
      }

    .comentarios {
        grid-gap: 2rem 0;
        text-align: start;
        .cliente {
            grid-column-end: span 12;
        }
    }
    .footer {
        .footer__info {
            grid-gap: 2rem 0;
            .footer__info__locales {
                grid-column-end: span 12;
            }
            .footer__info__tarjetas {
                grid-column-end: span 12;
                img {
                    width: 250px;
                }
            }
            .footer__info__redes {
                grid-column-end: span 12;
            }
            .footer__info__codigos {
                grid-column-end: span 12;
                grid-column: 1/12;
            }
        }
    }
}

@media (max-width: 1100px) {
    .ofertas {
        grid-gap: 2rem 0;
        .ofertas__articulo {
            grid-column-end: span 6;
        }
    }
    .comentarios {
        grid-gap: 2rem 0;
        text-align: start;
        .cliente {
            grid-column-end: span 6;
            padding: 10px;
        }
    }
    .footer {
        .footer__info {
            grid-gap: 2rem 0;
            .footer__info__locales {
                grid-column-end: span 12;
                width: 50%;
            }
            .footer__info__tarjetas {
                grid-column-end: span 12;
                img {
                    width: 250px;
                }
            }
            .footer__info__redes {
                grid-column-end: span 12;
            }
            .footer__info__codigos {
                grid-column-end: span 12;
                grid-column: 1/12;
            }
        }
    }
}

/* Acerca */

.header {
    .acerca_nosotros {
        @extend .precios
    
    }
    margin-bottom: 50px;
}


.descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    .descripcion__texto {
        width: 50%;
        margin-bottom: 40px;
        font-size: 20px;
    }

}

.acerca_equipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.acerca_miembros {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-gap: 2rem;
    width: 100%;
    padding: 2rem;
    align-items: center;
    justify-content:center;
    text-align: center;
    .miembros{
        grid-column-end: span 2;
        box-shadow: rgba(0, 0, 0, 0.08) 0 0 2rem;
    }
    margin-bottom: 50px;
}


@media (max-width: 560px) {
    .acerca_miembros {
        .miembros {
            grid-column-end: span 6;
        }
    }
}

/* Contactanos */

.contactanos_titulo {
    @extend .precios
}

.contactanos_intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.contactanos_contactos {
    @include grid12columnas;
    .contacto {
        grid-column-end: span 3;
        box-shadow: rgba(0, 0, 0, 0.08) 0 0 2rem;
        padding-top: 20px;
        .num {
            color: blue;
            padding: 10px;
        }
    }
    margin-bottom: 100px;
}

.preguntas_titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


.preguntas_frequentes {
    display: flex;
    flex-direction: column;
    .preguntasYrespuestas {
        padding: 30px;
    }

    
}

@media (max-width: 560px) {
    .contactanos_contactos {
        .contacto {
            grid-column-end: span 12;
        }
    }
}


/* Productos */

.productos_articulos {
    
    margin-bottom: 50px;
    @include grid12columnas;
    .articulos_item1 {
        grid-column-end: span 12;
        margin-bottom: 50px;
    }
    .articulos_item {
        grid-column-end: span 6;
        box-shadow: rgba(0, 0, 0, 0.08) 0 0 2rem;
    }
}

.productos__sideMenu {
    position: relative;
    width: 300px;
    padding: 30px;
    a {
        text-decoration: none;
    }
    li {
        list-style: none;
    }
}
@media (max-width: 560px) {
    .productos_articulos {
        .articulos_item {
            grid-column-end: span 12;
        }
    }
}

/* Blog */



.blog__postsvisitados {
    @include grid12columnas;
    .blog__titulo1 {
        grid-column-end: span 12;
    }
    .blog__postsvisitados__post {
        grid-column-end: span 4;
    }
    
    margin-bottom: 100px;
}

.blog__postsRecientes {
    margin-bottom: 100px;
    @include grid12columnas;
    .blog__titulo2 {
        grid-column-end: span 12;
    }
    .blog__postsRecientes__post {
        grid-column-end: span 4;
    }
}

@media (max-width: 560px) {
    .blog__postsvisitados {
        grid-gap: 2rem 0;
        .blog__postsvisitados__post {
            grid-column-end: span 12;
        }
    }
    .blog__postsRecientes {
        grid-gap: 2rem 0;
        .blog__postsRecientes__post {
            grid-column-end: span 12;
        }
    }
}

@media (max-width: 1100px) {
    .blog__postsvisitados {
        grid-gap: 2rem 0;
        .blog__postsvisitados__post {
            grid-column-end: span 12;
        }
    }
    .blog__postsRecientes {
        grid-gap: 2rem 0;
        .blog__postsRecientes__post {
            grid-column-end: span 12;
        }
    }
}