* {
    margin: 0;
}


.inicio {
    font-size: 25px;
}

.navbar-custom {
    background-color: blue;
}

.precios {
    background-color: aqua;
    text-align: center;
    font-size: 60px;
    position: relative;
    top: 0px;
    padding-top: 160px;
    padding-bottom: 210px;
    margin: 0;
}

.articulo {
    border: 2px solid black;
    border-radius: 25px;
    width: 350px;
    margin: 25px;
}

.computadora {
    border: 2px solid black;
    border-radius: 25px;
    width: 350px;
    margin: 25px;
    height: 348px;
}

.cliente {
    width: 402px;
}

.footer {
    background-color: darkslategrey;
    
}

.locales {
    margin-left: 164px;
    width: 147px;
}

.tech {
    font-size: 60px;
}

/* Acerca */

.acerca_nosotros {
    background-color: aqua;
    text-align: center;
    font-size: 60px;
    position: relative;
    top: 0px;
    padding-top: 160px;
    padding-bottom: 210px;
    margin: 0;

}

.acerca_quienesSomos {

    display: grid;
    grid-template-columns: 600px 600px ;
    grid-template-rows: 100px 100px;
    justify-items: center;
    margin: 40px;
    height: 300px;
    width: 600px;
}

.grupoGente {
    width: 500px;
}

.acerca_equipo {
    display: grid;
    grid-template-rows: 50px 50px;
    align-items: center;
    justify-items: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 100px;
}

.acerca_miembros {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px ;
}

.acerca_miembros .miembros {
    justify-self: center;
    
}  

@media (min-width: 321px) {
    .acerca_miembrosMobile {
        display: none;
    }
}

@media (max-width: 320px) {
    .acerca_nosotros {
        background-color: aqua;
        font-size: 35px;
        padding-top: 130px;
        padding-bottom: 140px;
    }

    .acerca_quienesSomos .grupoGente {
        max-width: 100%;
        grid-row: 3/4;
    }

    .acerca_quienesSomos {
        display: grid;
        grid-template-rows: 60px 200px;
        grid-template-columns: 250px;
        width: 250px;
        margin: 40px;
    }

    .acerca_equipo {
        display: grid;
        grid-template-rows: 80px 150px;
        margin: 20px;
    }
    .acerca_miembros {
        display: none;
    }
    .acerca_miembrosMobile {
        display: grid;
        grid-template-rows: 210px 210px 210px 210px 210px 210px;
        gap: 40px;
        align-items: center;
        justify-items: center;
    }

    .acerca_miembrosMobile .miembrosMobile {
        align-self: center;
        justify-self: center;
        
    }

}


/* Contactanos */


.contactanos_titulo {
    background-color: aqua;
    text-align: center;
    font-size: 60px;
    position: relative;
    top: 0px;
    padding-top: 160px;
    padding-bottom: 210px;
    margin: 0;
}

.contactanos_intro {
    display: grid;
    grid-template-rows: 50px 50px;
    justify-items: center;
}

.contactanos_contactos {
    display: grid;
    grid-template-columns: 200px 200px 220px 200px;
    grid-template-rows: 100px;
    justify-content: center;
    align-content: center;
    gap: 35px;
}

.contactanos_contactos .contacto {
    justify-self: center;
    padding: 40px;
}

.num {
    color: blue;
    font: 50px;
}

.preguntas_titulo {
    display: grid;
    justify-items: center;
}

.preguntas_frequentes {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 150px 150px 150px;
    justify-content: center;
    align-content: center;
}

@media (min-width: 321px) {
    .contactanos_contactosMobile {
        display: none;
    }

}

@media (max-width: 320px) {
    .contactanos_contactos {
        display: none;
    }

    .contactanos_titulo {
        background-color: aqua;
        text-align: center;
        font-size: 35px;
        position: relative;
        top: 0px;
        padding-top: 160px;
        padding-bottom: 210px;
        margin: 0;
    }

    .contactanos_contactosMobile {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 50px 60px 80px 50px 60px 80px 50px 60px 80px 50px 60px 80px;
        justify-content: center;
        align-content: center;
    }

    .contactanos_contactosMobile .contacto_Mobile {
        justify-self: center;
        align-self: center;
    }

    .contactanos_contactosMobile .num_mobile {
        justify-self: center;
        align-self: center;
        color: blue;
    }

    .preguntas_frequentes{
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 300px 300px 300px 300px 300px 300px;
        justify-content: center;
        align-content: center;
    }
}





 










